*{
    margin: 0px; /*Esto se hace para que queden todos los items en un solo bloque*/
    padding: 0px; /*Esto se hace para que queden todos los items en un solo bloque*/
}

.menu{
    margin: auto; /*Esto lo hacemos para centrar todos los items*/
    width: 800px;
}

ul{
    list-style: none; /*Esta propiedad quita el estilo de la lista, es decir, los puntos o guias*/
}

.menu li a{
    text-decoration: none; /*Quita el subrayado*/
    background-color: green; /*color de fondo para las celdas*/
    color: whitesmoke; /*Color de letra*/
    margin: 2px; /*Espacio entre las celdas*/
    display: block; /*Acomoda todos los items en bloque*/
    padding: 10px 20px; /*Ancho y altura de las celdas*/
}

.menu li a:hover{ /*Esta seudoclave es para indicar la propiedad cuando el cursor se posa sobre el item*/
    background-color: greenyellow; /*Me permite darle un color de fondo a la celda seleccionada*/
}

.menu > li{ /*Esto me indica un elemento en especifico*/
    float: left; /*Me permite organizar los items de forma horizontal*/
}

.menu li ul{
    position: absolute; /*Se ajustan los sub-items a los items principales*/
    min-width: 200px; /*Este es el ancho minimo de las celdas*/
    display: none; /*Esta propiedad me oculta los sub-items*/
}

.menu li:hover > ul{ /*Esta propiedad me indica un elementodirecto que se ve afectado cuando el cursor se posa encima*/
    display: block; /*Vuelve los sub-items en bloque*/
}

.menu li ul li{
    position: relative; /*Se cambia a posicion relativa para acomodar los items al lado*/
}

.menu li ul li ul{
    right: -200px;/*Esto acomoda los items hacia la izquierda*/
    top: 0px; /*Me deja el item a la misma altura*/
}