*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url("femsa.png");
    margin-bottom: 30px;
    display: flex;
    height: 110px;
    border: 2px solid rgb(139, 139, 139);
    position: relative;
    float: left;
    width: 100%;
}

div{
    margin-left:200px;
    margin-top:40px;
    margin-right: 600px;
    width: 430px;
}

#logo{
    height: 80px;
    width: 80px;
    border: 10px solid rgb(241, 65, 1);
    border-radius: 50px;
    margin-top:5px;
    margin-left: 5px;
}

#solistica{
    height: 80px;
    width: 300px;
    border-radius: 15px;
    margin-top:20px;
    margin-right: 15px;
    float: right;
    right: 10px;
    display: flex;
    position: absolute;
}

#link_solistica:hover{
    cursor: pointer;
}

#inicio{
    margin: auto;
    width: 600px;
    margin-top: 30px;
}

ul{
    list-style: none;
}

#inicio li a{
    text-decoration: none;
    color: white;
    margin: 2px;
    display: block;
    padding: 10px 20px;
    background-image: url("femsa.png");
}

#inicio li a:hover{
    background: #6a89cc;
    color: black;
    border-radius: 10px;
}

#inicio > li{
    float: left;
}

#inicio li ul{
    position: absolute;
    min-width: 200px;
    display: none;
}

#inicio li:hover > ul{
    display: block;
}

#inicio li ul li{
    position: relative;
    background-image: url("solistica.png");
    border-radius: 10px;
}

#inicio li ul li ul{
    right: -200px;
    top: 0px;
    background-image: url("solistica.png");
    border-radius: 10px;
}

body{
    background-image: url("fondo1.png");
}

article{
    text-align: center;
    color: whitesmoke;
    height: 500px;
    width: 80%;
    margin: auto;

}

table{
    margin-top: 30px;
    margin-left: 80px;
    background: rgba(0,0,0,0.6);
}

#formato{
    height: 40px;
    background: #162F57;
}

th{
    background: #1F4179;
}

td{
    height: 20px;
    background: #8EABDB;
}

.fecha{
    width: 97%;
}

#boton{
    margin-top:20px;
    width: 120px;
}

#boton:hover{
    background: rgba(0,0,0,0.6);
    color: whitesmoke;
    cursor: pointer;
}

footer{
    clear: both;
    background-image: url("femsa.png");
    color: whitesmoke;
    padding-top: 20px;
    padding-left: 100px;
    height: 120px;
    margin-bottom: 0px;
}

h3{
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 60px;
}

#logo_pie{
    border-radius: 0px;
    width: 200px;
    float: right;
    display: flex;
    margin-right: 50px;
    margin-bottom: 20px;
}